<!Doctype html>

<html>
	<head>
		<title>BLOG</title>
		<link rel="stylesheet" type="text/css" 		href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="../stylesheets/app.css">
		<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
	</head>
	<body>
		
		<div class="ui fixed inverted menu">
			<div class="ui container">
				<div class="ui inverted secondary menu">
					<div class="header item"><i class="lemon icon"></i>
							Blog Site
					</div>
					<a href="/" class="active item">HOME</a>
					<a href="/blogs/new" class="item">ADD</a>
		  		</div>
			</div>
  			
		</div>
